<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% load customtags %}
  {% load static %}
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <title>Chapp Hotel</title>

</head>

<body>
    {% if bookings|length > 0 %}
        <div style="float:left">
            <table id="bookings" class="display">
                <thead>
                    <tr>
                        <th>Check In Date</th>
                        <th>Check Out Date</th>
                        <th>Room Number</th>
                        <th>Status</th>
                        <th>Total Price</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{booking.checkInDate}}</td>
                            <td>{{booking.checkOutDate}}</td>
                            <td>{{booking.room_id}}</td>
                            <td>{{booking.status }} </td>
                            <td>{{booking.price }} </td>
                            {% if booking.status == 'conf' %}
                                <td>
                                    <input type="button" value="Cancel " onclick="cancelBooking({{booking.id}})">
                                </td>
                            {% elif booking.status == 'canc' %}
                                <td>
                                    <label>Canceled</label>
                                </td>
                            {% elif booking.status == 'cIn' %}
                                <td>
                                    <label>Check In done</label>
                                </td>
                            {% elif booking.status == 'cOut' %}
                                <td>
                                    <label>Check Out done</label>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>You have no bookings yet</div>
    {% endif %}
        <div style="float:right">
            <div>
                <a href="/logedin">Book</a>
            </div>
            <div>
                <a href="/accounts/logout">Log Out</a>
            </div>
        </div>



<script defer src="{% static 'js/userbookings.js' %}" type="text/javascript"> 		</script>
<script defer src=https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
</body>
</html>